header{
  width: 100%;
  align-items: center;
}

.navbar{
  display: flex;
}

img{
  width: 100px;
  height: 100px;
}

input{
  width: 100%;
  justify-content: center;
}

.logo{
  width: 25%;
}

.search{
  width: 30%;
}

.cart-icon{
  background-color: blue;
  width: 25%;

}

